body {
background-color: white;
}
h1 {
    color: rgb(169, 128, 23);
    font-style: italic;
}
p { 
    color: rgb(0, 0, 0);
}

h2 {
    color: midnightblue;
     font-style: inherit;
}
h3 {
    color:darkblue;
    font-style: oblique;
}